## MySQL Server 5.6 Reference Configuration Options

[client]
port                           = {{ port }}
socket                         = /data/mysql{{ port }}/mysql.sock
default-character-set          = utf8

[mysqld]

# GENERAL #
user                           = mysql
basedir                        = /data/soft/mysql
datadir                        = /data/mysql{{ port }}
port                           = {{ port }}
socket                         = /data/mysql{{ port }}/mysql.sock
pid-file                       = /data/mysql{{ port }}/mysql.pid
character-set-server           = utf8
init-connect                   = 'SET NAMES utf8'
tmpdir                         = /data/tmp

# SAFETY #
max-allowed-packet             = 1G
max-connect-errors             = 1000000
skip-name-resolve              = 1
sysdate-is-now                 = 1
innodb-strict-mode             = 1
lower_case_table_names         = 1

# CACHES AND LIMITS #
tmp-table-size                 = 128M
max-heap-table-size            = 128M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 1000
max-user-connections           = 950
thread-cache-size              = 100
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 4096
{{ thread_handling }}

# Logging #
log-error                      = /data/mysql{{ port }}/mysql{{ port }}.err
slow_query_log                 = 1
slow_query_log_file            = /data/mysql{{ port }}/mysql{{ port }}.slow
long_query_time                = 0.1

# BINARY LOGGING #
log-bin                        = mysql-bin
binlog_format                  = ROW
expire-logs-days               = 14
sync-binlog                    = 0
relay_log                      = relay-bin
relay_log_index                = relay-bin.index
master-info-repository         = TABLE
relay-log-info-repository      = TABLE

# MyISAM #
key-buffer-size                = 32M
myisam-recover                 = FORCE,BACKUP

# INNODB #
innodb_buffer_pool_size        = {{ innodb_buffer_pool_size }}
innodb_data_home_dir           = /data/mysql{{ port }}
innodb_log_group_home_dir      = /data/mysql{{ port }}
innodb_data_file_path          = ibdata1:200M:autoextend
#innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 128M
innodb-file-per-table          = 1
innodb_flush_log_at_trx_commit = 0

# difference btw master and slave
server-id                      = {{ server_id }}
read_only                      = {{ read_only }}

# for mysql-utilities
report-host                    = {{ report_host }}
report-port                    = {{ report_port }}

[mysqld_safe]
user                           = mysql
socket                         = /data/mysql{{ port }}/mysql.sock
open_files_limit               = 65535

[mysqldump]
quick
max_allowed_packet             = 1G

[mysql]
no-auto-rehash
prompt                         = '\u@\h(\d) \R:\m> '
